<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="aspnet-contrib" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json" />
        <add key="carguero" value="https://nuget.pkg.github.com/carguero/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <carguero>
            <add key="ClearTextPassword" value="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" />
            <add key="Username" value="aplicacao@carguero.com.br" />
        </carguero>
    </packageSourceCredentials>
</configuration>
